<template>
  <div class="emote-group">
    <h3 v-text="name"></h3>
    <div class="emotes">
      <div v-for="emote in group" key="emote.name" class='emote'>
        <h5 v-text="emote.name"></h5>
        <img :src="emote.image" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'emote-group',
  props: {
    name: String,
    group: Array,
  },
};
</script>

<style scoped>
  .emotes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .emote {
    display: block;
    margin: 10px;
  }
</style>
