<template>
  <div class='emote'>
    <h5 v-text="emote.name"></h5>
    <img :src="emote.image" />
  </div>
</template>

<script>
export default {
  name: 'emote',
  props: {
    emote: Object,
  },
};
</script>

<style scoped>
  .emote {
    display: block;
    margin: 10px;
  }
</style>

