<template>
  <div class="hello">
    <h1>Emotes</h1>
    <emote-group v-for="(group, name) in kgroups" :group="group" :name="name" key="name"></emote-group>
  </div>
</template>

<script>
import EmoteGroup from '@/components/EmoteGroup';

const twitchTemplate = 'https://static-cdn.jtvnw.net/emoticons/v1/{image_id}/2.0';

export default {
  name: 'hello',
  components: {
    EmoteGroup,
  },
  data() {
    return {
      group: null,
      groups: {},
      invis_groups: {},
    };
  },
  computed: {
    kgroups() {
      const keys = Object.keys(this.groups).sort();
      const sortedObj = {};

      keys.map((key) => {
        sortedObj[key] = this.groups[key];
        return key;
      });

      return sortedObj;
    },
  },
  params: {
    name: String,
    group: Array,
  },
  mounted() {
    this.getTwitchEmotes();
    this.getRCSEmotes();
    this.getTastyEmotes();
  },
  methods: {
    getTwitchEmotes() {
      fetch('https://code.radiant.dj/require/emotes/twitch_emotes.json')
        .then(r => r.json())
        .then(({ emotes }) => (
          this.formatTwitchEmotes(twitchTemplate, emotes)
        ))
        .then((emotes) => {
          this.$set(this.groups, 'twitchGlobal', emotes);
        });

      fetch('https://code.radiant.dj/require/emotes/twitch_sub_emotes.json')
        .then(r => r.json())
        .then(({ emotes }) => (
          this.formatTwitchEmotes(twitchTemplate, emotes)
        ))
        .then((emotes) => {
          this.$set(this.groups, 'twitchSubs', emotes);
        });
    },
    getRCSEmotes() {

    },
    getTastyEmotes() {

    },
    formatTwitchEmotes(template, emotes) {
      const keys = Object.keys(emotes);
      return keys.map(key => ({
        name: key,
        image: template.replace('{image_id}', emotes[key]),
      }));
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
